.section-text {
    line-height: 2.0;
    margin: 10px auto;
}

@media (max-width: 768px) {
    .section-text {
        font-size: 13px;
    }
}

@media (max-width: 468px) {
    .section-text {
        font-size: 10px;
    }
}