.info__text {
    /* text-align: center; */
    /* margin: 20px 50px; */
}

@media (max-width: 768px) {
    .info__text {
        font-size: 13px;
        margin: 15px 5px;
    }
}

@media (max-width: 425px) {
    .info__text {
        font-size: 9px;
    }
}