.footer__link-item {
    margin-right: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.footer__link-item:last-child {
    margin-right: 0px;
}

.footer__link-item:hover {
    opacity: 0.5;
}