.description__info {
    margin-left: 100px;
    margin-bottom: 50px;
    position: absolute;
    bottom: 0;
    max-width: 400px;
    text-transform: uppercase;
}

@media (max-width: 468px) {
    .description__info {
        margin-left: 40px;
    }
}