.button {
    background-color: transparent;
    padding: 0 20px;
    height: 30px;
    cursor: pointer;
    text-transform: inherit;
    margin-bottom: 20px;
    margin-top: 20px;
    width: calc(100% - 10px);
}

.button:hover {
    opacity: 0.5;
}

@media (max-width: 768px) {
    .button {
        font-size: 12px;
    }
}